
.active
{  
    background: #F9F9F9;
box-shadow: -1px 1px 1px #FFFFFF, 10px 10px 200px rgba(135, 130, 130, 0.09);
    color:#12B7B6 ;
    width: 120px;
    outline: none;
    height: 30px;
    font-weight: 700;
    border-radius: 30px;
    font-size: 15px;
    padding: 3px 10px;
    display: inline-block;
    text-align: center;
    transition: all 0.5ws;
    
}

